<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/assets/css/style.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    <button id="botTrigger"><i class="fa fa-close"></button>
    <div class="botOuterDiv">
        <div>
        <!-- Bot Header -->
        <header class="botHeader">
            <p><img class="botAvtar" src="https://cdn.dribbble.com/users/2199928/screenshots/11532918/media/5a7273b592ea860e6d0ff2931ecab4f3.png?compress=1&resize=400x300" alt="botPic">Bot</p>
        </header>

        <div class="botmessageFeed">
            <span class="botChat">What would you like to do next?</span>
        </div>
        <div class="botInputBox">
            <input type="text" placeholder="write a message" name="text" class="botInputBoxField"/>
            <button class="botInputBoxSubmit"><i class="fa fa-send-o"></i></button>
        </div>
    </div>
    </div>
</body>
<script src='/static/assets/js/script.js'></script>
</html>